<div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-12">
        <h2>Eat da Burger</h2>
        <br><br>
        <form action="/" method="POST">
	        <textarea type="text" name="event" id="burger-text"></textarea>
            <br>
	        <button type="submit" id="submit">Submit</button>
        </form>
    </div>
</div>


